{% extends 'base.html' %}



{% block content %}
    <h1>Recent Games</h1>
    {% for game in games %}
        <a href="{% url 'by_name' game.title %}">
            <div class="gamebox">
                <img src="{{ game.thumbnail }}" alt="">
                <div class="textbox">
                    <p class="game_title">{{ game.title }}</p>
                    <p class="game_description">{{ game.description }}</p>
                    <h5 class="game_genre">{{ game.genre }}</h5>
                </div>
            </div>
        </a>
        <br>
    {% endfor %}
{% endblock %}

