{% extends 'base.html' %}
{%load static%}


{% block title %}<title>Browse</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/by_gnere.css' %}">{% endblock %}
{% block content %}
    <h1>{{ genre }}</h1>
    <div class="contentbox">
        {% for g in genre_list %}
            {% if forloop.counter != 2 %}
                <a href="{% url 'by_genre' g %}">{{ g }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{%url 'view_all'%}">Browse all games</a>
{% endblock %}

