{% extends 'base.html' %}
{%load static%}


{% block title %}<title>Browse</title>{% endblock %}
{% block content %}
<div class="contanier" style="display: flex; flex-direction: column; align-items: center; gap: 2rem; ">
    <h1 style="width: fit-content;">Categories</h1>
    <p>Browse our wide selection of categories!</p>
    <div class="contentbox" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 1rem; width: 50%; margin: 0 auto;">
        {% for g in genre_list %}
            {% if forloop.counter != 2 %}
                <div class="btn btn-outline-primary bg-dark text-white">
                    <div class="card-body" style="width: fit-content;">
                        <a href="{% url 'by_genre' g %}"  style="text-decoration: none;">{{ g }}</a>
                    </div>
                </div>
                
            {% endif %}
        {% endfor %}
    </div>
    <a href="{%url 'view_all'%}" style="text-align: center; text-decoration: none; color: aliceblue;" >Browse all games</a>
</div>

{% endblock %}