{% extends 'base.html' %}



{% block content %}
    <h1 style="margin-left: 3.5rem;">Recent Games</h1>
    <br>
    <br>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center;">
        {% for game in games_list %}
        <a href="{% url 'by_name' game.id %}" style="margin: 1rem; text-decoration: none;">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="{{ game.thumbnail }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="game_title card-text">{{ game.title }}</h4>
                    <p class="game_genre card-text">{{ game.genre }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock %}