{% extends 'base.html' %}
{%load static%}


{% block title %}<title>Browse</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/by_gnere.css' %}">{% endblock %}
{% block content %}
    <div class="contentbox">

            <div class="gamebox">
                <p class="game_title">{{ games_list.title }}</p>
                <img src="{{ games_list.thumbnail }}" alt="">
                <div class="textbox">
                    
                    <p class="game_description">{{ games_list.description }}</p>
                    <h5  class="game_genre">{{ games_list.genre }}</h5>
                </div>
            </div>
            <br>

        <form method="post" style="color: black;">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="post">
        </form>
        {%for item in review_list%}
            {{item}}
        {%endfor%}
    </div>
{% endblock %}
